---
const { title = "María Pozo · Teatro y Educación Emocional" } = Astro.props;
// Importar estilos como módulo
import '../styles/main.sass';

const baseUrl = import.meta.env.BASE_URL;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="María Pozo Távora - Profesora de teatro y educación emocional. Descubre mis talleres y recursos para el crecimiento personal a través del teatro." />
    <meta name="keywords" content="María Pozo, teatro, educación emocional, talleres de teatro, crecimiento personal, aprendizaje emocional, recursos educativos, desarrollo personal, teatro para niños, teatro para adultos" />
    <meta name="author" content="Santiago Pozo" />
  </head> 
  <body>
    <header>
      <nav>
        <a href={baseUrl}>Inicio</a>
        <a href={`${baseUrl}about/`}>Sobre mí</a>
        <a href={`${baseUrl}talleres/`}>Talleres</a>
        <a href={`${baseUrl}claves/`}>Claves</a>
        <a href={`${baseUrl}trayectoria/`}>Trayectoria</a>
        <!-- <a href="{`${baseUrl}cv/">CV</a> -->
        <!-- <a href="articulos/">Artículos</a> -->
        <!-- <a href="colaboraciones/">Colaboraciones</a> -->
        <!-- <a href="contacto/">Contacto</a> -->
      </nav>
    </header>

    <!-- Social bar -->
    <aside class="social-bar">
      <a href="https://www.youtube.com/@mariapozotavora4819" target="_blank" rel="noopener noreferrer" aria-label="Canal de YouTube de María Pozo">
        <img src={`${baseUrl}icons/social/youtube.svg`} alt="YouTube" />
      </a>
      <a href="https://www.instagram.com/mariaptavora/" target="_blank" rel="noopener noreferrer" aria-label="Instagram de María Pozo">
        <img src={`${baseUrl}icons/social/instagram.svg`} alt="Instagram" />
      </a>
      <a href="mailto:mariaptavora@gmail.com" aria-label="Enviar email a María Pozo">
        <img src={`${baseUrl}icons/social/email.svg`} alt="Email" />
      </a>
    </aside>

    <main>
      <slot />
    </main>

    <footer>
      <p>&copy; {new Date().getFullYear()} María Pozo Távora - Teatro y Educación Emocional</p>
      <p>Webmaster y desarrollo: <a href="https://santiago-pozo.com" target="_blank" rel="noopener noreferrer">Santiago Pozo</a></p>
    </footer>
  </body>
</html>
